.author-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
footer {
    display: grid;
    grid-template-columns: 40px 60% 15px;
    align-items: center;
    column-gap: 1rem;
    .article-info {
        display: flex;
        flex-direction: column;
    }
    .author-name {
        font-weight: $bold;
        color: $darker-grayish;
    }
    .article-date {
        color: hsl(212, 23%, 69%);
    }
    @include responsiveQuery(large) {
        grid-template-columns: 40px 1fr 1fr;
    }
}
.share-icon {
    width: 32px;
    height: 32px;
    background-color: $light-grayish;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    @include responsiveQuery(large) {
        margin-left: auto;
        margin-right: 0.5rem;
    }
}
.share-socials {
    height: 4.5rem;
    background-color: $darker-grayish;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem 2.5rem;
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.25s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    @include responsiveQuery(large) {
        height: 3.5rem;
        bottom: 6.8rem;
        right: -80px;
        width: 280px;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0 5px 30px rgba($color: $darker-grayish, $alpha: 0.3);
        grid-template-columns: 1fr 1fr;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: $darker-grayish;
            position: absolute;
            bottom: -10px;
            right: 125px;
            transform: rotate(45deg);
        }
    }

    span {
        letter-spacing: 0.5rem;
        color: $grayish-blue;
        margin-right: 1rem;
    }
    .icons {
        display: flex;
        img {
            margin-right: 1rem;
        }
        cursor: pointer;
    }
}
.display-social {
    transform: translateY(0);
    opacity: 1;
}
.share-icon-element {
    fill: #6e8098;
}
.share-icon-light-bg {
    background-color: $desaturated-blue;
    .share-icon-element {
        fill: $light-grayish;
    }
}
