.card-container {
    background: #fff;
    width: 338px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 5px 30px rgba($color: $darker-grayish, $alpha: 0.2);
    position: relative;
    overflow: hidden;
    @include responsiveQuery(large) {
        width: 53%;
        grid-template-columns: 40% 1fr;
        overflow: visible;
    }
}
.card-image {
    height: 198px;
    background-image: url(../images/drawers.jpg);
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include responsiveQuery(large) {
        height: auto;
        border-top-right-radius: 0;
        background-position: left;
        border-bottom-left-radius: 10px;
    }
}
.card-title {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0;
    color: hsl(217, 19%, 35%);
    @include responsiveQuery(large) {
        font-size: 1.3rem;
    }
}
.card-description {
    color: hsl(214, 17%, 51%);
    line-height: 1.7;
    margin-bottom: 2rem;
}
.card-info {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    @include responsiveQuery(large) {
        padding: 2.5rem;
    }
}
