.author-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
footer {
    display: grid;
    grid-template-columns: 40px 60% 15px;
    align-items: center;
    column-gap: 1rem;
    .article-info {
        display: flex;
        flex-direction: column;
    }
    .author-name {
        font-weight: $bold;
        color: hsl(217, 19%, 35%);
    }
    .article-date {
        color: hsl(212, 23%, 69%);
    }
    .share--icon {
        width: 32px;
        height: 32px;
        background-color: hsl(210, 46%, 95%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
