/*COLORS*/
$light-grayish: hsl(210, 46%, 95%);
$grayish-blue: hsl(212, 23%, 69%);
$desaturated-blue: hsl(214, 17%, 51%);
$darker-grayish: hsl(217, 19%, 35%);

/* FONTS Weight */
$mediun: 500;
$bold: 700;
$family: 'Manrope', sans-serif;
